<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ouyeel.drybulk.dao.UserMapper">
	
	
	<sql id="mapSQL" >
						  USER_ID as "userId" 
						 ,   LOGIN_NAME as "loginName" 
						 ,   PASSWORD as "password" 
						 ,   STATUS as "status" 
						 ,   USER_NAME as "userName" 
						 ,   MOBILE as "mobile" 
						 ,   EMAIL as "email" 
						 ,   USER_TYPE as "userType" 
						 ,   ACCOUNT_EXPIRE_DATE as "accountExpireDate" 
						 ,   PWD_EXPIRE_DATE as "pwdExpireDate" 
						 ,   IS_LOCKED as "isLocked" 
						 ,   REC_CREATOR as "recCreator" 
						 ,   REC_CREATE_TIME as "recCreateTime" 
						 ,   REC_REVISOR as "recRevisor" 
						 ,   REC_REVISE_TIME as "recReviseTime" 
				  	</sql>
  	
	<sql id="objectSQL" >
						  USER_ID as "userId" 
						 ,   LOGIN_NAME as "loginName" 
						 ,   PASSWORD as "password" 
						 ,   STATUS as "status" 
						 ,   USER_NAME as "userName" 
						 ,   MOBILE as "mobile" 
						 ,   EMAIL as "email" 
						 ,   USER_TYPE as "userType" 
						 ,   ACCOUNT_EXPIRE_DATE as "accountExpireDate" 
						 ,   PWD_EXPIRE_DATE as "pwdExpireDate" 
						 ,   IS_LOCKED as "isLocked" 
						 ,   REC_CREATOR as "recCreator" 
						 ,   REC_CREATE_TIME as "recCreateTime" 
						 ,   REC_REVISOR as "recRevisor" 
						 ,   REC_REVISE_TIME as "recReviseTime" 
				  	</sql>
	
	<select id="selectByPrimaryKey" resultType="com.ouyeel.drybulk.domain.User" parameterType="java.lang.Long" >
    	SELECT 
    	<include refid="mapSQL" />
    	FROM plat_user
   		 WHERE 
								 USER_ID=#{userId} 
																																																														  </select>
  
   <select id="selectModelByExample" resultType="com.ouyeel.drybulk.domain.User" parameterType="com.ouyeel.drybulk.domain.User" >
    SELECT 
    <include refid="objectSQL" />
    FROM plat_user
    <where>
    	 <if test="userId!=null">AND  USER_ID = #{userId}</if>
		<if test="loginName!=null">AND  LOGIN_NAME = #{loginName}</if>
		<if test="password!=null">AND  PASSWORD = #{password}</if>
		<if test="status!=null">AND  STATUS = #{status}</if>
		<if test="userName!=null">AND  USER_NAME = #{userName}</if>
		<if test="mobile!=null">AND  MOBILE = #{mobile}</if>
		<if test="email!=null">AND  EMAIL = #{email}</if>
		<if test="userType!=null">AND  USER_TYPE = #{userType}</if>
		<if test="accountExpireDate!=null">AND  ACCOUNT_EXPIRE_DATE = #{accountExpireDate}</if>
		<if test="pwdExpireDate!=null">AND  PWD_EXPIRE_DATE = #{pwdExpireDate}</if>
		<if test="isLocked!=null">AND  IS_LOCKED = #{isLocked}</if>
		<if test="recCreator!=null">AND  REC_CREATOR = #{recCreator}</if>
		<if test="recCreateTime!=null">AND  REC_CREATE_TIME = #{recCreateTime}</if>
		<if test="recRevisor!=null">AND  REC_REVISOR = #{recRevisor}</if>
		<if test="recReviseTime!=null">AND  REC_REVISE_TIME = #{recReviseTime}</if>
		    </where>
  </select>
  
  <select id="selectByExample" resultType="java.util.HashMap" parameterType="com.ouyeel.drybulk.domain.User" >
    SELECT 
    <include refid="mapSQL" />
    FROM plat_user
    <where>
    	 <if test="userId!=null">AND  USER_ID = #{userId}</if>
		<if test="loginName!=null">AND  LOGIN_NAME = #{loginName}</if>
		<if test="password!=null">AND  PASSWORD = #{password}</if>
		<if test="status!=null">AND  STATUS = #{status}</if>
		<if test="userName!=null">AND  USER_NAME = #{userName}</if>
		<if test="mobile!=null">AND  MOBILE = #{mobile}</if>
		<if test="email!=null">AND  EMAIL = #{email}</if>
		<if test="userType!=null">AND  USER_TYPE = #{userType}</if>
		<if test="accountExpireDate!=null">AND  ACCOUNT_EXPIRE_DATE = #{accountExpireDate}</if>
		<if test="pwdExpireDate!=null">AND  PWD_EXPIRE_DATE = #{pwdExpireDate}</if>
		<if test="isLocked!=null">AND  IS_LOCKED = #{isLocked}</if>
		<if test="recCreator!=null">AND  REC_CREATOR = #{recCreator}</if>
		<if test="recCreateTime!=null">AND  REC_CREATE_TIME = #{recCreateTime}</if>
		<if test="recRevisor!=null">AND  REC_REVISOR = #{recRevisor}</if>
		<if test="recReviseTime!=null">AND  REC_REVISE_TIME = #{recReviseTime}</if>
		    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM plat_user
    WHERE 						 USER_ID=#{userId} 
																																																														  </delete>
  
  
  <insert id="insert" parameterType="com.ouyeel.drybulk.domain.User" >
    INSERT INTO plat_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	
    	    	<if test="userId != null" >USER_ID,</if>
		    	<if test="loginName != null" >LOGIN_NAME,</if>
		    	<if test="password != null" >PASSWORD,</if>
		    	<if test="status != null" >STATUS,</if>
		    	<if test="userName != null" >USER_NAME,</if>
		    	<if test="mobile != null" >MOBILE,</if>
		    	<if test="email != null" >EMAIL,</if>
		    	<if test="userType != null" >USER_TYPE,</if>
		    	<if test="accountExpireDate != null" >ACCOUNT_EXPIRE_DATE,</if>
		    	<if test="pwdExpireDate != null" >PWD_EXPIRE_DATE,</if>
		    	<if test="isLocked != null" >IS_LOCKED,</if>
		    	<if test="recCreator != null" >REC_CREATOR,</if>
		    	<if test="recCreateTime != null" >REC_CREATE_TIME,</if>
		    	<if test="recRevisor != null" >REC_REVISOR,</if>
		    	<if test="recReviseTime != null" >REC_REVISE_TIME,</if>
		    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	    	<if test="userId != null" >#{userId},</if>
		    	<if test="loginName != null" >#{loginName},</if>
		    	<if test="password != null" >#{password},</if>
		    	<if test="status != null" >#{status},</if>
		    	<if test="userName != null" >#{userName},</if>
		    	<if test="mobile != null" >#{mobile},</if>
		    	<if test="email != null" >#{email},</if>
		    	<if test="userType != null" >#{userType},</if>
		    	<if test="accountExpireDate != null" >#{accountExpireDate},</if>
		    	<if test="pwdExpireDate != null" >#{pwdExpireDate},</if>
		    	<if test="isLocked != null" >#{isLocked},</if>
		    	<if test="recCreator != null" >#{recCreator},</if>
		    	<if test="recCreateTime != null" >#{recCreateTime},</if>
		    	<if test="recRevisor != null" >#{recRevisor},</if>
		    	<if test="recReviseTime != null" >#{recReviseTime},</if>
		    </trim>
  </insert>
  
   <update id="update" parameterType="com.ouyeel.drybulk.domain.User" >
    UPDATE plat_user
    <set >
    	    	<if test="userId != null" >USER_ID = #{userId},</if>
		    	<if test="loginName != null" >LOGIN_NAME = #{loginName},</if>
		    	<if test="password != null" >PASSWORD = #{password},</if>
		    	<if test="status != null" >STATUS = #{status},</if>
		    	<if test="userName != null" >USER_NAME = #{userName},</if>
		    	<if test="mobile != null" >MOBILE = #{mobile},</if>
		    	<if test="email != null" >EMAIL = #{email},</if>
		    	<if test="userType != null" >USER_TYPE = #{userType},</if>
		    	<if test="accountExpireDate != null" >ACCOUNT_EXPIRE_DATE = #{accountExpireDate},</if>
		    	<if test="pwdExpireDate != null" >PWD_EXPIRE_DATE = #{pwdExpireDate},</if>
		    	<if test="isLocked != null" >IS_LOCKED = #{isLocked},</if>
		    	<if test="recCreator != null" >REC_CREATOR = #{recCreator},</if>
		    	<if test="recCreateTime != null" >REC_CREATE_TIME = #{recCreateTime},</if>
		    	<if test="recRevisor != null" >REC_REVISOR = #{recRevisor},</if>
		    	<if test="recReviseTime != null" >REC_REVISE_TIME = #{recReviseTime},</if>
		    </set>
    WHERE 						 USER_ID=#{userId} 
																																																														  </update>
  
  
  <delete id="deleteByIds" parameterType="java.math.BigDecimal">
		DELETE FROM plat_user t WHERE 
								 USER_ID 
																																																																 in
  		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
         </foreach>
	</delete>
	
	<!--生成器生成代码，需要自己手动修改java属性名-->
	<insert id="insertModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			INSERT INTO plat_user
			<trim prefix="(" suffix=")" suffixOverrides=",">
				    			<if test="userId != null" >USER_ID,</if>
				    			<if test="loginName != null" >LOGIN_NAME,</if>
				    			<if test="password != null" >PASSWORD,</if>
				    			<if test="status != null" >STATUS,</if>
				    			<if test="userName != null" >USER_NAME,</if>
				    			<if test="mobile != null" >MOBILE,</if>
				    			<if test="email != null" >EMAIL,</if>
				    			<if test="userType != null" >USER_TYPE,</if>
				    			<if test="accountExpireDate != null" >ACCOUNT_EXPIRE_DATE,</if>
				    			<if test="pwdExpireDate != null" >PWD_EXPIRE_DATE,</if>
				    			<if test="isLocked != null" >IS_LOCKED,</if>
				    			<if test="recCreator != null" >REC_CREATOR,</if>
				    			<if test="recCreateTime != null" >REC_CREATE_TIME,</if>
				    			<if test="recRevisor != null" >REC_REVISOR,</if>
				    			<if test="recReviseTime != null" >REC_REVISE_TIME,</if>
							</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				    			<if test="userId != null" >#{userId},</if>
				    			<if test="loginName != null" >#{loginName},</if>
				    			<if test="password != null" >#{password},</if>
				    			<if test="status != null" >#{status},</if>
				    			<if test="userName != null" >#{userName},</if>
				    			<if test="mobile != null" >#{mobile},</if>
				    			<if test="email != null" >#{email},</if>
				    			<if test="userType != null" >#{userType},</if>
				    			<if test="accountExpireDate != null" >#{accountExpireDate},</if>
				    			<if test="pwdExpireDate != null" >#{pwdExpireDate},</if>
				    			<if test="isLocked != null" >#{isLocked},</if>
				    			<if test="recCreator != null" >#{recCreator},</if>
				    			<if test="recCreateTime != null" >#{recCreateTime},</if>
				    			<if test="recRevisor != null" >#{recRevisor},</if>
				    			<if test="recReviseTime != null" >#{recReviseTime},</if>
							</trim>
		</foreach>
	</insert>

	<!--生成器生成代码，需要自己手动修改java属性名-->
	<update id="updateModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE plat_user
		    <set >
		    			    	<if test="userId != null" >USER_ID = #{userId},</if>
						    	<if test="loginName != null" >LOGIN_NAME = #{loginName},</if>
						    	<if test="password != null" >PASSWORD = #{password},</if>
						    	<if test="status != null" >STATUS = #{status},</if>
						    	<if test="userName != null" >USER_NAME = #{userName},</if>
						    	<if test="mobile != null" >MOBILE = #{mobile},</if>
						    	<if test="email != null" >EMAIL = #{email},</if>
						    	<if test="userType != null" >USER_TYPE = #{userType},</if>
						    	<if test="accountExpireDate != null" >ACCOUNT_EXPIRE_DATE = #{accountExpireDate},</if>
						    	<if test="pwdExpireDate != null" >PWD_EXPIRE_DATE = #{pwdExpireDate},</if>
						    	<if test="isLocked != null" >IS_LOCKED = #{isLocked},</if>
						    	<if test="recCreator != null" >REC_CREATOR = #{recCreator},</if>
						    	<if test="recCreateTime != null" >REC_CREATE_TIME = #{recCreateTime},</if>
						    	<if test="recRevisor != null" >REC_REVISOR = #{recRevisor},</if>
						    	<if test="recReviseTime != null" >REC_REVISE_TIME = #{recReviseTime},</if>
						    </set>
		    WHERE 												 USER_ID=#{userId} 
																																																																																																																														</foreach>
	</update>
	
	
</mapper>