<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjxm.contract.dao.CapitalFlowMapper">
	
	
	<sql id="mapSQL" >
						  ID as "id" 
						 ,   DOC_ID as "docId" 
						 ,   DOC_TYPE as "docType" 
						 ,   FLOW_DATE as "flowDate" 
						 ,   DIRECTION as "direction" 
						 ,   PLAN_AMOUNT as "planAmount" 
						 ,   REAL_AMOUNT as "realAmount" 
						 ,   DIGEST as "digest" 
				  	</sql>
  	
	<sql id="objectSQL" >
						  ID as "id" 
						 ,   DOC_ID as "docId" 
						 ,   DOC_TYPE as "docType" 
						 ,   FLOW_DATE as "flowDate" 
						 ,   DIRECTION as "direction" 
						 ,   PLAN_AMOUNT as "planAmount" 
						 ,   REAL_AMOUNT as "realAmount" 
						 ,   DIGEST as "digest" 
				  	</sql>
	
	<select id="selectByPrimaryKey" resultType="com.zjxm.contract.domain.CapitalFlow" parameterType="java.lang.Long" >
    	SELECT 
    	<include refid="mapSQL" />
    	FROM ZJ_CAPITAL_FLOW
   		 WHERE 
								 ID=#{id} 
																																		  </select>
  
   <select id="selectModelByExample" resultType="com.zjxm.contract.domain.CapitalFlow" parameterType="com.zjxm.contract.domain.CapitalFlow" >
    SELECT 
    <include refid="objectSQL" />
    FROM ZJ_CAPITAL_FLOW
    <where>
    	 <if test="id!=null">AND  ID = #{id}</if>
		<if test="docId!=null">AND  DOC_ID = #{docId}</if>
		<if test="docType!=null">AND  DOC_TYPE = #{docType}</if>
		<if test="flowDate!=null">AND  FLOW_DATE = #{flowDate}</if>
		<if test="direction!=null">AND  DIRECTION = #{direction}</if>
		<if test="planAmount!=null">AND  PLAN_AMOUNT = #{planAmount}</if>
		<if test="realAmount!=null">AND  REAL_AMOUNT = #{realAmount}</if>
		<if test="digest!=null">AND  DIGEST = #{digest}</if>
		    </where>
  </select>
  
  <select id="selectByExample" resultType="java.util.HashMap" parameterType="com.zjxm.contract.domain.CapitalFlow" >
    SELECT 
    <include refid="mapSQL" />
    FROM ZJ_CAPITAL_FLOW
    <where>
    	 <if test="id!=null">AND  ID = #{id}</if>
		<if test="docId!=null">AND  DOC_ID = #{docId}</if>
		<if test="docType!=null">AND  DOC_TYPE = #{docType}</if>
		<if test="flowDate!=null">AND  FLOW_DATE = #{flowDate}</if>
		<if test="direction!=null">AND  DIRECTION = #{direction}</if>
		<if test="planAmount!=null">AND  PLAN_AMOUNT = #{planAmount}</if>
		<if test="realAmount!=null">AND  REAL_AMOUNT = #{realAmount}</if>
		<if test="digest!=null">AND  DIGEST = #{digest}</if>
		    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM ZJ_CAPITAL_FLOW
    WHERE 						 ID=#{id} 
																																		  </delete>
  
  
  <insert id="insert" parameterType="com.zjxm.contract.domain.CapitalFlow" >
    INSERT INTO ZJ_CAPITAL_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	
    	    	<if test="id != null" >ID,</if>
		    	<if test="docId != null" >DOC_ID,</if>
		    	<if test="docType != null" >DOC_TYPE,</if>
		    	<if test="flowDate != null" >FLOW_DATE,</if>
		    	<if test="direction != null" >DIRECTION,</if>
		    	<if test="planAmount != null" >PLAN_AMOUNT,</if>
		    	<if test="realAmount != null" >REAL_AMOUNT,</if>
		    	<if test="digest != null" >DIGEST,</if>
		    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	    	<if test="id != null" >#{id},</if>
		    	<if test="docId != null" >#{docId},</if>
		    	<if test="docType != null" >#{docType},</if>
		    	<if test="flowDate != null" >#{flowDate},</if>
		    	<if test="direction != null" >#{direction},</if>
		    	<if test="planAmount != null" >#{planAmount},</if>
		    	<if test="realAmount != null" >#{realAmount},</if>
		    	<if test="digest != null" >#{digest},</if>
		    </trim>
  </insert>
  
   <update id="update" parameterType="com.zjxm.contract.domain.CapitalFlow" >
    UPDATE ZJ_CAPITAL_FLOW
    <set >
    	    	<if test="id != null" >ID = #{id},</if>
		    	<if test="docId != null" >DOC_ID = #{docId},</if>
		    	<if test="docType != null" >DOC_TYPE = #{docType},</if>
		    	<if test="flowDate != null" >FLOW_DATE = #{flowDate},</if>
		    	<if test="direction != null" >DIRECTION = #{direction},</if>
		    	<if test="planAmount != null" >PLAN_AMOUNT = #{planAmount},</if>
		    	<if test="realAmount != null" >REAL_AMOUNT = #{realAmount},</if>
		    	<if test="digest != null" >DIGEST = #{digest},</if>
		    </set>
    WHERE 						 ID=#{id} 
																																		  </update>
  
  
  <delete id="deleteByIds" parameterType="java.math.BigDecimal">
		DELETE FROM ZJ_CAPITAL_FLOW t WHERE 
								 ID 
																																				 in
  		<foreach collection="list" item="item" index="index"
            open="(" close=")" separator=",">
            #{item}
         </foreach>
	</delete>
	
	<!--生成器生成代码，需要自己手动修改java属性名-->
	<insert id="insertModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			INSERT INTO ZJ_CAPITAL_FLOW
			<trim prefix="(" suffix=")" suffixOverrides=",">
				    			<if test="id != null" >ID,</if>
				    			<if test="docId != null" >DOC_ID,</if>
				    			<if test="docType != null" >DOC_TYPE,</if>
				    			<if test="flowDate != null" >FLOW_DATE,</if>
				    			<if test="direction != null" >DIRECTION,</if>
				    			<if test="planAmount != null" >PLAN_AMOUNT,</if>
				    			<if test="realAmount != null" >REAL_AMOUNT,</if>
				    			<if test="digest != null" >DIGEST,</if>
							</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				    			<if test="id != null" >#{id},</if>
				    			<if test="docId != null" >#{docId},</if>
				    			<if test="docType != null" >#{docType},</if>
				    			<if test="flowDate != null" >#{flowDate},</if>
				    			<if test="direction != null" >#{direction},</if>
				    			<if test="planAmount != null" >#{planAmount},</if>
				    			<if test="realAmount != null" >#{realAmount},</if>
				    			<if test="digest != null" >#{digest},</if>
							</trim>
		</foreach>
	</insert>

	<!--生成器生成代码，需要自己手动修改java属性名-->
	<update id="updateModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE ZJ_CAPITAL_FLOW
		    <set >
		    			    	<if test="id != null" >ID = #{id},</if>
						    	<if test="docId != null" >DOC_ID = #{docId},</if>
						    	<if test="docType != null" >DOC_TYPE = #{docType},</if>
						    	<if test="flowDate != null" >FLOW_DATE = #{flowDate},</if>
						    	<if test="direction != null" >DIRECTION = #{direction},</if>
						    	<if test="planAmount != null" >PLAN_AMOUNT = #{planAmount},</if>
						    	<if test="realAmount != null" >REAL_AMOUNT = #{realAmount},</if>
						    	<if test="digest != null" >DIGEST = #{digest},</if>
						    </set>
		    WHERE 												 ID=#{id} 
																																																																						</foreach>
	</update>
	
	
</mapper>